<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @appstate.description %>
</p>

<%= link_to 'Edit', edit_appstate_path(@appstate) %> |
<%= link_to 'Back', appstates_path %>
